<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ModAssistant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ModAssistant.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ModAssistant.Properties.Settings>
            <setting name="InstallFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="StoreType" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveSelected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckInstalled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SavedMods" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Agreed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectInstalled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GameVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="AllGameVersions" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastTab" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedTheme" serializeAs="String">
                <value />
            </setting>
            <setting name="ReinstallInstalled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseWindowOnFinish" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LanguageCode" serializeAs="String">
                <value />
            </setting>
            <setting name="OCIWindow" serializeAs="String">
                <value />
            </setting>
        </ModAssistant.Properties.Settings>
        <ModAssistant.Settings1>
            <setting name="InstallFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="StoreVariant" serializeAs="String">
                <value />
            </setting>
        </ModAssistant.Settings1>
    </userSettings>
</configuration>
