<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ModAssistant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ModAssistant.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ModAssistant.Properties.Settings>
            <setting name="InstallFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="StoreType" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveSelected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckInstalled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SavedMods" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Agreed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectInstalled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GameVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="AllGameVersions" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastTab" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedTheme" serializeAs="String">
                <value />
            </setting>
            <setting name="ReinstallInstalled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseWindowOnFinish" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LanguageCode" serializeAs="String">
                <value />
            </setting>
            <setting name="OCIWindow" serializeAs="String">
                <value />
            </setting>
        </ModAssistant.Properties.Settings>
        <ModAssistant.Settings1>
            <setting name="InstallFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="StoreVariant" serializeAs="String">
                <value />
            </setting>
        </ModAssistant.Settings1>
    </userSettings>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <targets>
            <target name="callmethod" xsi:type="MethodCall" className="ModAssistant.Utils, ModAssistant" methodName="Log">
                <parameter layout="${message}" />
                <parameter layout="${level}" />
            </target>
        </targets>
        <rules>
            <logger name="*" minlevel="Debug" writeTo="callmethod">
                <when condition="equals('${logger}','SoundFingerprinting.Emy.FFmpeg.Loader.WindowsLoader')" action="Ignore" />
                <when condition="equals('${logger}','FFmpeg')" action="Ignore" />
            </logger>
        </rules>
    </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="protobuf-net" publicKeyToken="257b51d87d2e4d67" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
